$default-font:'Roboto', sans-serif;
$font-weight-normal:400; 
$font-weight-bold:500; 

$width-mobile: 400px;

$max-width: 750px;

$light-color: #EDEDED;
$dark-color: #373334;

$btn-radius: 10px;
$btn-height: 50px;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

body {
	background: $light-color;
    margin: 0;
    font-size: 18px;
	@media (max-width:$width-mobile) {
		font-size: 16px;
	}
    font-family: $default-font;
    font-weight: $font-weight-normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
	color: $dark-color;
}

h1,
h2 {
	font-weight: $font-weight-bold;
}

a {
  color: gray;
  text-decoration: none;
  font-weight: $font-weight-normal;
}

a:hover {
  color: black;
}

header {
	margin-top: 25px;
}	

footer {
	clear: both;
	padding-top: 30px;
	padding-bottom: 30px;

	.links {
		padding-bottom: 10px;
	}
}

h1 {
	display: inline-block;
	float: left;

	@media (max-width:$width-mobile) {
		display: block;
		float: none;
	}
}

h1, h2 {
	margin-top: 0;
}

.btn {
	display: inline-block;
	float: right;
	width:150px;
	height:$btn-height;
	-webkit-border-radius: $btn-radius;
	-moz-border-radius: $btn-radius;
	border-radius: $btn-radius;
	background-color:$dark-color;
	font-weight: $font-weight-bold;
	margin-top: 0px;

	h3 {
		margin: 0;
		text-align: center;
		vertical-align: middle;
		line-height: $btn-height;  
		color: $light-color;
	}

	@media (max-width:$width-mobile) {
		clear: both;
		float: none;
	}
}

.btn:hover {
	background-color:#726A6C;
}

.container {
	margin: 0 auto; 
	max-width: 600px;
	padding-left: 30px;
	padding-right: 30px;
}

.screenshots {
	h3 {
		margin-top: 0px;
	}
}

.screenshot {
	img {
		height: 420px;
		width: 200px;
	}
	padding-right: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
	float: left;

	@media (max-width:510px) {
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.section {
	clear: both;
	padding-top: 25px;
}